/.github

# secret
/src/main/resources/seed-url.txt
/src/main/java/me/gege/seed/filter
/src/main/java/me/gege/command
/src/main/java/me/gege/seed/util/SeedFilter.java

# gradle

.gradle/
build/
out/
classes/
logs/

**/loom-cache/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
